<!DOCTYPE html>
<html lang="en">

<%- include('./partials/header') %>

<body>
        <%= brookdaleCrowdItem._id%>
    <%= brookdaleCrowdItem.FIRST_NAME%> <br>
    <%= brookdaleCrowdItem.LAST_NAME%><br>
    <%= brookdaleCrowdItem.CSR_SUMMARY%><br>
    <%= brookdaleCrowdItem.CSR_BUSINESS_VALUE%><br>
    <%= brookdaleCrowdItem.CSR_PAY_FORWARD_DESC%><br>
    <%= brookdaleCrowdItem.CSR_FUNDING_AMT_REQ%><br>
    <%= brookdaleCrowdItem.CSR_FUNDING_DEADLINE%><br>

    <div>
        <h2 style="display: inline;">Total amount funded so far: $</h2>
        <h2 style="display: inline;"><%= currentTotalFundingAmt%></h2>
    </div>


<h3>Contributors</h3>
<div style="width: 40%">
        <ul class="list-group">
            <% for(var i=0; i < brookdaleCrowdItem.CONTRIBUTIONS.length; i++) { %>
                <li class="list-group-item">
                    <%= brookdaleCrowdItem.CONTRIBUTIONS[i].FUNDER_FIRST_NAME%>
                    <%= brookdaleCrowdItem.CONTRIBUTIONS[i].FUNDER_LAST_NAME%>
                    : pledged $<%= brookdaleCrowdItem.CONTRIBUTIONS[i].FUNDING_AMT%>
                </li>
            <% }%>
        </ul> 
</div>


<div style="width: 40%;">
    <h3>Fill out the form below to help fund this request</h3>
    <%- include('./partials/fundingForm') %>
</div>

<% if (brookdaleCrowdItem.CSR_STATUS_MESSAGE) { %>
    <div>
        <p>Funding Status: <%= brookdaleCrowdItem.CSR_STATUS%> </p>
        <p>Comments: <%= brookdaleCrowdItem.CSR_STATUS_MESSAGE%></p>
    </div>
  <% } %>

  <div style="display: flex; justify-content: flex-end">
    <button type="button" class="btn btn-sm btn-danger" onclick="showCloseCSRModal()">Close Crowd Request </button>
  </div>
  <%- include('./partials/closeCSRModal') %>
</body>

</html>