<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head') %>
    <body>    
            <%- include('./partials/navBar') %>
    <div class="container  shadow">
        <div class="row mt-2">
            <img class="img-fluid mx-auto" src="/images/logo.png" alt="BrookdaleCrowdLogo.png">
        </div>
        <div class="row mb-5">
            <div class="col mb-2 text-center">    
                <h1 class="pageTitle">Fund Your Learning And Development</h1>
                <button class="btn btn-lg btn-primary brookdaleBtn" onclick="showCreateModal()">Join the crowd!</button>
            </div>
        </div>
    </div>

    <div id="activeCSRs" class="container shadow">
        <div class="row mb-5">
            <div class="col mb-2">
                <h1 class="h1SectionTitle display-4">Active Requests</h1>
                <% if (requests.length < 1) { %>
                    No active requests
                <% } %>

                <% for(var i=0; i < requests.length; i++) { %>
                    <ul class="list-group">     
                        <%if (requests[i].CSR_STATUS == 'pending') { %>
                            <li class="list-group-item">
                                <h5 class="displayInline text-capitalize"><%= requests[i].FIRST_NAME%></h5>
                                <h5 class="displayInline text-capitalize"><%= requests[i].LAST_NAME %> -</h5>
                                <h6 class="displayInline">Summary: </h6>
                                <%= requests[i].CSR_SUMMARY %> 
                                <br>
                                <form action="/viewDetails/<%= requests[i]._id %>" method="GET">
                                    <button class="btn btn-sm btn-info brookdaleBtn">Details</button>
                                </form>
                            </li>
                        <% } %>
                    </ul> 
                <% }%>          
            </div>
        </div>
    </div>
    
    <%- include('./partials/modals') %>

    <div id="inactiveCSRs" class="container shadow">
        <div class="row">
            <div class="col mb-2">
                <h1 class="h1SectionTitle display-4">Inactive Requests</h1>
                <% for(var i=0; i < requests.length; i++) { %>
                    <ul class="list-group">
                        <%if (requests[i].CSR_STATUS != 'pending') { %>
                            <li class="list-group-item">
                                <h5 class="displayInline text-capitalize"><%= requests[i].FIRST_NAME%></h5>
                                <h5 class="displayInline text-capitalize"><%= requests[i].LAST_NAME %> -</h5>
                                <h6 class="displayInline">Summary: </h6>
                                <%= requests[i].CSR_SUMMARY %> 
                                <br>
                                <form action="/viewDetails/<%= requests[i]._id %>" method="GET">
                                    <button class="btn btn-sm btn-info brookdaleBtn">Details</button>
                                </form>
                            </li>
                        <% } %>            
                    </ul> 
                <% }%>
            </div>
        </div>
    </div>

<!--  I think this in pointless???
<script>
    var requests = <%- JSON.stringify(requests) %>;
</script> -->
</body>
</html>