<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Requests</title>
</head>

<body>
    <%- include('./partials/header') %>
        <h1>This is my home page</h1>
      
        <button class="btn btn-primary" onclick="showCreateModal()">Create New!</button>

        
        <% for(var i=0; i < requests.length; i++) { %>
             <h3>
              <%= requests[i].username %> <br>
              <%= requests[i].summary %> <br>
              <%= requests[i].bizVal %> <br>
              <%= requests[i].forward %>
              <button class="btn btn-info" onclick="viewRequestDetails( <%= i %> )">View Details</button>
            </h3> 
        <% }%>

    <%- include('./partials/modals') %>
    
    <script>
        var requests = <%- JSON.stringify(requests) %>;
    </script>

</body>

</html>